*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.ipynb
*.ipynb_checkpoints

*.jpg
*.jpeg
*.gif
*.bmp
*.tiff

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg

# IDE
.idea/
*.swp
*.swo

/images
.venv
.coverage
.vscode
roddier_test.ipynb
.DS_Store